{% extends "base.html" %}
{% block title %}プロモーションコード削除{% endblock %}
{% block content %}
{% load static %}

<body class="container mt-5">
    <h1 class="text-center mb-4">プロモーションコード削除確認</h1>

    <div class="card p-4 shadow">
        <!-- 商品名の出力 -->
        <div class="mb-3">
            <h5 class="text-muted">プロモーションコードの情報</h5>
            <div class="mt-4">
                <p class="fs-5">プロモーションコード：{{ promotion_code }}</p>
                <p class="fs-5">割引額：&#0165;{{ discount }}</p>
            </div>
        </div>

        <!-- 削除確認フォーム -->
        <form method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
                <!-- 削除確定ボタン -->
                <button type="submit" class="btn btn-danger px-5">削除する</button>
                <!-- 戻るボタン -->
                <a href="{% url 'cart:cart_page' %}" class="btn btn-secondary px-5">戻る</a>
            </div>
        </form>
    </div>
</body>

{% endblock %}
